.bigLink {
	font-weight: 600;
	font-size: 1.67vw;
	letter-spacing: 0.05em;
	color: #000000;
	text-decoration: none;
	margin-top: 2.60vw;

	svg {
		margin-left: 1vw;
	}
}

.bigBtn {
	font-weight: 600;
	font-size: 1.67vw;
	letter-spacing: 0.05em;
	color: #000000;
	text-decoration: none;
	margin-top: 2.60vw;
	background: transparent;
	border: none;
	cursor: pointer;

	svg {
		margin-left: 1vw;
	}
}