.team-card {
	flex-basis: 30%;
	background: #FFFFFF;
	border-radius: 1.56vw;
	&__link {
		color: #000;
		display: flex;
		flex-direction: column;
		transform: scale(1);
		transition: all ease .3s;
		&:hover {
			transform: scale(1.04)
		}
	}

	&__img {
		background: #FFFFFF;
		box-shadow: 0px 4px 0.52vw -4px #E5E5E5;
		border-radius: 1.56vw;
		height: 26.04vw;
		overflow: hidden;
		max-width: 100%;
		video {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__info {
		padding: 1.56vw 0;
		text-align: center;
	}
}